body{
    background-color: #f0f0c2;
	font-family: 'Open Sans', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    font-size: 80px;
    text-align: center;
}

.btn{
    display: block;
    color: black;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 3px 5px 10px #3b423b;
    cursor: pointer;

    width: 50%;
    margin: 20px auto;

    transition: all .3s;
}
	.btn:active{
		box-shadow: 1px 2px 3px #0c0c0c;
	    transform: translateY(3px);
	}

#Enter{
    background-color: #10ff10;
}
#OFF{
    background-color: #272927;
}
#Green{
    background-color: green;
}
#Blue{
    background-color: blue;
}